<div th:fragment="content" class="container mt-5">
    <h1 class="d-flex gap-1 align-items-center mb-3">
        <button id="btn-add" type="button" class="btn btn-success" data-mdb-tooltip-init title="Insérer" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#modal">
            <i class="fa fa-add"></i>
        </button>
        Liste des Catégories de Produit
    </h1>

    <div th:replace="~{/components/modal :: modal(name='modal', title='Some Title', body=~{:: modalBody})}">
        <div th:fragment="modalBody">
            <form th:fragment="content" id="form" th:action="@{/stock}" th:method="${formMethod}" th:object="${category}">
                <h1 th:text="${formTitle}"></h1>
                <div th:replace="~{/components/form :: input('label', ${category.label}, 'text', 'Libellé')}"></div>
            
                <button class="btn btn-success"> Valider </button>
            </form>
        </div>
    </div>

    <table id="table" class="table table-striped fx__table">
        <thead>
            <tr>
                <th> </th>
                <th> Libellé </th>
            </tr>
        </thead>

        <tbody>
            <!-- rendered using js -->
        </tbody>
    </table>
 
    <div th:replace="~{/components/pagination :: pagination}"></div>
    <script defer type="text/javascript" th:src="${js_pages + '/product/product-category/index.js'}"></script>
</div>