<div th:fragment="content" class="container mt-5">
    <h1 class="d-flex gap-1 align-items-center mb-3">
        <button id="btn-add" type="button" class="btn btn-success" data-mdb-tooltip-init title="Insérer" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#modal">
            <i class="fa fa-add"></i>
        </button>
        Liste des Mouvements de Stock
    </h1>

    <div th:replace="~{/components/modal :: modal(name='modal', title='Some Title', body=~{:: modalBody})}">
        <div th:fragment="modalBody">
            <form th:fragment="content" id="form" th:action="@{/stock}" th:method="${formMethod}" th:object="${productStock}">
                <h1 th:text="${formTitle}"></h1>
    
                <div class="row">
                    <div class="col-6">
                        <div th:replace="~{/components/form :: select('category', '', ${categories}, 'Catégorie')}"></div>
                    </div>
                    <div class="col-6">
                        <div th:replace="~{/components/form :: select('subcategory', '', ${subcategories}, 'Sous-catégorie')}"></div>
                    </div>
                </div>
                <div th:replace="~{/components/form :: select('idProduct', ${productStock.idProduct}, ${products}, 'Produit')}"></div>
                <div class="mb-5"></div>

                <div th:replace="~{/components/form2 :: input('quantityIn', '0', 'number', 'Entrée', '0.001')}"></div>
                <div th:replace="~{/components/form2 :: input('quantityOut', '0', 'number', 'Sortie', '0.001')}"></div>
                <div th:replace="~{/components/form :: input('date', ${productStock.date}, 'date', 'Date')}"></div>
            
                <button class="btn btn-success"> Valider </button>
            </form>
        </div>
    </div>

    <table id="table" class="table table-striped fx__table">
        <thead>
            <tr>
                <th> </th>
                <th> Catégorie </th>
                <th> Sous Catégorie </th>
                <th> Produit </th>
                <th> Action </th>
                <th> Quantité </th>
                <th> Date </th>
            </tr>
        </thead>

        <tbody>
            <!-- rendered using js -->
        </tbody>
    </table>

    <div th:replace="~{/components/pagination :: pagination}"></div>
    <script defer type="text/javascript" th:src="${js_pages + '/stock/mvt-product-stock/index.js'}"></script>
</div>