<div th:fragment="content" class="container mt-5">
    <h1 class="d-flex gap-1 align-items-center mb-3">
        <button type="button" class="btn btn-secondary text-primary" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#modal">
            <i class="fa fa-filter"></i>
        </button>
        <button id="btn-pdf" type="button" class="btn btn-secondary text-danger" data-mdb-ripple-init data-mdb-modal-init>
            <i class="fa fa-file-pdf"></i>
        </button>
        Bilan de Stock
    </h1>

    <div th:replace="~{/components/modal :: modal(name='modal', title='Some Title', body=~{:: modalBody})}">
        <div th:fragment="modalBody">
            <form th:fragment="content" id="form" action="/stock-balance" method="GET">
                <h1> Filtre </h1>

                <div th:replace="~{/components/form :: input('ndays', 7, 'number', 'Nombre de Jours')}"></div>
                <div th:replace="~{/components/form :: input('date', ${today}, 'date', 'Date')}"></div>
                <div th:replace="~{/components/form :: select('idCategory', '', ${categories}, 'Catégorie')}"></div>
            
                <button class="btn btn-primary"> Valider </button>
            </form>
        </div>
    </div>

    <table id="table" class="table table-striped table-balance fx__table">
        <thead></thead>
        <tbody></tbody>
    </table>

        
    <script type="text/javascript" src="/src/js/stock-balance/index.js"></script>
</div>