<div th:fragment="content" class="container mt-5">
    <h1 class="d-flex gap-1 align-items-center mb-3">
        <button id="btn-pdf" type="button" class="btn btn-secondary text-danger" data-mdb-tooltip-init title="Exporter PDF" data-mdb-ripple-init>
            <i class="fa fa-file-pdf"></i>
        </button>
        <button type="button" class="btn btn-secondary text-success" data-mdb-tooltip-init title="Filtrer" data-mdb-ripple-init data-mdb-modal-init data-mdb-target="#modal">
            <i class="fa fa-filter"></i>
        </button>
        Graphique d'Évolution de Stock
    </h1>
    
    <div th:replace="~{/components/modal :: modal(name='modal', title='Filtre', body=~{:: modalBody})}">
        <div th:fragment="modalBody">
            <form th:fragment="content" id="form" action="/stock/chart" method="GET">
        
                <div class="border p-3 m-3">
                    <div th:replace="~{/components/form :: input('nSamples', 12, 'number', 'Nombre d\'Échantillons')}"></div>
                    <div th:replace="~{/components/form :: input('date', ${today}, 'date', 'Date de Référence')}"></div>
                    
                    <div>
                        <div class="mb-4">
                            <label for="sampleType">Type de Bilan</label>
                            <select class="form-select" id="sampleType" name="sampleType">
                                <option value="month">Mensuel</option>
                                <option value="week">Hebdomadaire</option>
                                <option value="day">Journalier</option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="accumulate" value="accumulate" id="accumulate"/>
                            <label class="form-check-label" for="accumulate">Accumuler</label>
                          </div>
                    </div>
                </div>
            
                <div class="border p-3">
                    <div>
                        <div class="mb-4">
                            <label for="idCategory">Catégorie</label>
                            <select class="form-select" id="idCategory" name="idCategory">
                                <option value="">Tous</option>
                                <option 
                                    th:each="category : ${categories.entrySet()}" 
                                    th:value="${category.key}" 
                                    th:text="${category.value}" 
                                    th:selected="${category.key == value}"></option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div>
                        <div class="mb-4">
                            <label for="chartType">Type de Graphique</label>
                            <select class="form-select" id="chartType" name="chartType">
                                <option value="line">Ligne</option>
                                <option value="bar">Bar</option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <button onclick="
                        nSamples.value = 12;
                        sampleType.value = 'month';
                    " class="btn btn-outline-success" type="button"> Bilan Mensuel de l'An </button>
                    <button onclick="
                        nSamples.value = 52;
                        sampleType.value = 'week';
                    " class="btn btn-outline-success" type="button"> Bilan Hebdomadaire de l'An </button>
                </div>

                <button class="btn btn-success"> Valider </button>
            </form>
        </div>
    </div>

    <!-- rendered using js -->
    <div style="height: 500px; position: relative; width: 100%;">
        <canvas id="chart"></canvas>
    </div>
    <script defer type="text/javascript" src="/src/js/stock/chart.js"></script>
</div>